header {
    /* fond */
    background-color: #21315a;
    /* création d'une grille mais sans définir de colonnes */
    display: grid;
    /* aligner les gird-items par le bas */
    align-items: end;
    /* centrer les gird-items horizontalement */
    justify-items: center;
}

img,
h1 {
    /* Les deux grid-items occupent la même cellule de la grile */
    grid-area: 1 / 1 / 2 / 2;
    /* la largeur de l'image */
    width: 715px;
    /* la couleur du titre */
    color: #94ce5a;
    /* ? */
    gap: 64px;
    /* pour centrer le titre */
    text-align: center;
}

main {
    max-width: 10000x;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
